<div class="card">
    <h1><span>CRIAR PEDIDO</span></h1> 
    <div class="r2d2"></div>
    <form #frmPedido="ngForm" (ngSubmit)="confirmarPedido(frmPedido)">

        <br/>
        <label>Cliente *:  </label>
        <br/>
        <p-dropdown
        name="cliente" #cliente="ngModel"
        required
        [options]="clientes" 
        [(ngModel)]="pedido.cliente" 
        optionLabel="nome"
        placeholder="Selecione um cliente"></p-dropdown>

        <br/><br/>
        <label>Produto *:  </label>
        <br/>
        <p-dropdown
        name="produto" #produto="ngModel"
        required
        [options]="produtos" 
        [(ngModel)]="pedido.item.produto" 
        optionLabel="nome"
        (onChange)="selecionaProduto()"
        placeholder="Selecione um produto"></p-dropdown>

        <br/><br/>
        <label>Quantidade *:  </label>
        <br/>        
        <span class="ui-float-label">
            <input
            name="quantidade" #quantidade="ngModel"
            required
            id="float-input" 
            type="number" min="1"   
            pInputText 
            [(ngModel)]="pedido.item.quantidade"> 
        </span>
        <br/>
        <label>Preço unitário *:  </label>
        <br/>        
        <span class="ui-float-label">
            <input
            name="precoUnitario" #precoUnitario="ngModel"
            required
            currencyMask 
            (ngModelChange)="setarRentabilidade($event)"
            [(ngModel)]="pedido.item.precoUnitario" 
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" pInputText />      
        </span>
        <br/>
        <div class="{{displayRentabilidade}}">
            <label>Rentabilidade:  </label>
            <div class="{{corRentabilidade}}" class="card rentabilidade">{{labelRentabilidade}}</div>
        </div>           
        <br/><br/>
        <hr style="clear:both">
        <button pButton type="submit" label="Confirmar" [disabled]="frmPedido.invalid"></button>
    </form>
</div>