$primaryColor: #b41c1c;
$primaryDarkColor: #b41c1c;
$primaryLightColor: #fa5f5f;
$accentColor: #FFC107;
$accentDarkColor: #FF8F00;
$accentLightColor: #FFE082;
$accentTextColor: #212121;

@import '../sass/theme/_theme';